*{
    -webkit-box-sizing: border-box;
    -moz-box--sizing:border-box;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

.tac{
    text-align: center;
}

body{
    background:#eee;
    line-height:1.5;
    font-size:16px;
}

h1,h2{
    margin-top:0;
}
h1{
    font-size:18px;
}
h2{
    font-size: 16px;
    margin-bottom:5px;
}

*{
    /*background: rgba(0,0,0,0.05);*/
}

.fl{
    float:left;
}
.fr{
    float:right;
}

.hr{
    display: block;
    width: 98%;
    height:1px;
    background:rgba(0,0,0,0.1);
    margin:10px 1%;
}

.container:after,
.container:before,
.clearfix:after,
.clearfix:before{
    content:" ";
    clear:both;
    display:table;
}

.navbar{
    background: #a10;
    color:#fff;
}

.navbar a{
    color:#fff;
}

.navbar-item{
    display:inline-block;
    line-height: 2;
    padding:2px 4px;
}
.navabr-item :first-child{
    margin-left: 4px;
}
.navbar-item :last-child{
    margin-right: 4px;
}

.navbar .brand{  /*类与类之间要空格*/
    font-size:20px;
    padding-top:0;
    line-height: 1;
    font-weight: 600;
}

.container{
    max-width: 600px;       /*max-width:自适应屏幕*/
    margin-left: auto;
    margin-right: auto;
}

.question-detail h1
{
    margin-bottom: 0;
}

.container.signup,      /*这里不能有空格,要紧挨着写*/
.container.home,
.container.user,
.container.login,
.container.question-add,
.container.question-detail,
.container.reset-password
{
    max-width: 400px;
    margin-top:15px;
}

.container.home{
    max-width:500px;
}

[ui-sref] {
    cursor: pointer;
}

form,label
{
    display:block;
}

.home h1
{
    font-size:16px;
    color:#666;
}

.feed.item .vote{
    float: left;
    width:10%;
}

.feed.item .feed-item-content{
    width:90%;
    float:left;
}

.feed.item .hr{
    float:left;
}

.feed.item .vote > *
{
    background:rgba(200,0,0,.1);
    text-align: center;
    vertical-align:middle ;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor:pointer;
    /*padding:2px;*/
}

.feed.item .vote{
    padding-right: 5px;
}

.feed.item .vote .up{
    color:#6f0b00;
    padding:4px;
}
.feed.item .vote .up:hover{
    background:#a10;
    color:#fff;
}

.feed.item .vote .down{
    background:rgba(0,0,0,.1);
    color:#555;
}
.feed.item .vote .down:hover{
    background: rgba(0,0,0,.7);
    color:#fff;
}

.feed-item-content .content-act{
    font-size:14px;
    color:#666;
}

.feed-item-content .title,
.feed-item-content .content-owner{
    color:#222;
}

.feed-item-content .title{
    font-weight: 700;
    color:#222;
    font-size:15px;
}

.feed-item-content .content-owner{
    font-size:13px;
}

.feed-item-content .content-main{
    /*font-size:14px;*/
}

h1,h2,
.feed-item-content .content-act,
.feed-item-content .content-act a,
.feed-item-content .content-owner .desc,
.action-set{
    color:#666;
}

.feed-item-content .content-owner .desc{
    font-size:12px;
}

.feed-item-content .action-set{
    font-size:12px;
    color:#777;
}

.comment-block{
    /*display: none;*/
}

.comment-item-set{
    padding:0 10px;
}

.comment-item-set .rect{
    position: relative;
    bottom:17px;
    right:2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,0.1);
}

.comment-item{
    padding-bottom: 10px;
}

.comment-item .user{
    float: left;
    width:13%;
    font-weight: 500;
}

.comment-item .comment-content{
    float: right;
    width:87%;
}

label
{
    margin:4px 0;
}

.input-error-set
{
    color: #a10;
    margin:4px 0;
}

.card
{
    display:block;
    padding:10px 6px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}

input,
textarea
{
    width:100%;
    display:block;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-right:5px;
    border:1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    outline:none;
}

.input-group
{
    margin-bottom:10px;
}

button
{
    border:1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    background: #fff;
    font-size:14px;
}

button.primary,
#quick_ask button
{
    background: #a10;
    color:#fff;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

button[disabled]
{
    background:#eee;
    color:#aaa;
}
input, button
{
    padding:5px;
}

.info_item > *
{
    margin-bottom: 5px;
}

.info_item > *:first-child
{
    width:20%;
    float:left;
}
.info_item > *:last-child
{
    width: 80%;
    float:left;
}
.user.container .title
{
    font-weight: 700;
}
.gray,
.gray a
{
    color:#999;
}

.answer_from textarea
{
    height:100px;
}
.anchor
{
    cursor: pointer;
}

.comment_form input,
.comment_form [type="submit"]
{
    float:left;
}
.comment_form input
{
    width:84%;
}
.comment_form [type="submit"]
{
    width:15%;
    margin-left: 1%;
}
.well
{
    padding:10px;
}
.gray_card
{
    background: rgba(0,0,0,.1);
}